# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

/javascript_code/.idea/
/javascript_code/vue_code/pinia/.vscode/
/javascript_code/vue_code/pinia/node_modules/
/javascript_code/vue_code/vue/.vscode/
/javascript_code/vue_code/vue/node_modules/
/javascript_code/vue_code/vue-router/.vscode/
/javascript_code/vue_code/vue-router/node_modules/
/react_code/.idea/
/react_code/revise_code/myapp/node_modules/
/typescript_code/.idea/
/vue_code/.idea/
/vue_code/vue2_code/main_code/node_modules/
